.bg_primary-color {
    background-color: #ffffff;
}
.primary-color {
    background-color: #ffffff;
}
.bg_secondary-color {
    background-color: #293241;
}
.secondary-color {
    color: #293241;
}
.custom-button.btn {
    background-color: #293241;
    color: #fff;
    border: none;
    margin: 0 auto;
}
.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
.sidebar {
    overflow: auto;
}
.invisible {
    visibility: 'hidden';
}
.visible {
    visibility: 'visible';
}
.completed {
    text-decoration: line-through;
}
.task_secondary {
    color: rgba(0, 0, 0, 0.6);
}
.task_category {
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75rem;
    margin: 0;
    float: right;
}
